@media screen and (max-width:1170px){
#mobile_btn{
       display: block;
       border:none;
       background-color: transparent;
       font-size: 1.5rem;
       cursor: pointer;

}

#nav_list,
#navbar .btn-default{
    display: none;
}


#mobile_menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
}

#mobile_nav_list .nav_item{
    list-style: none;
    text-align: center;
}


#home {
    min-height: 100%;
    padding-top: 0px;
}

#banner,
#banner img
{
    display: none;
}

.shape{
    display: none;
}




#cta  {
width: 100%;
align-items: center;
text-align: center;
    
  
}


#mobile_menu {
    transition: transform 0.3s ease;
    transform: translateY(-100%); /* Oculta inicialmente */
}

#mobile_menu.active {
    transform: translateY(0); /* Exibe quando ativo */
}


#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}


/*Responsivo cardapio pratos*/

#dishes{
    flex-wrap: wrap;
    justify-content: center;
}

.dish{
    width: calc(50% - 12px);
}

/*responsivo testmonials*/

#testimonials{
    flex-direction: column;
}

#testimonials .section-subtitle {
    text-align: center;
    font-size: 2.5rem;
}


#testimonial_chef{
    display: none;
}

#testimonials_content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
}

/*responsivo cardapio pratos tela meno*/
@media screen and (max-width:600px){

    .dish{
        width: 100%;
    }
    
#menu .section-subtitle{
    text-align: center;
}

/*responsivo referete ao testemonials*/

#testimonials .section-subtitle {
    font-size: 2rem;
}

#testimonials_content{
    width: 100%;
}



.feedback{
    flex-direction: column;
}

/*css responsivo do footer*/

#footer_itens {
    flex-direction: column;
    gap: 20px;
}

}










@media screen and (max-width:450px){

    #phone_button button{
        display: none;
    }


 
    
}



